.card.events{
    width: 100% !important;
}
.container.events{
    width: 100% !important;
    flex-direction: column !important;
    height: auto !important;
    background-color: black !important;
    margin: 0 !important;
    display: block !important;
    color: white;
}
.container.events .card-body{
    color: black;
}

.events-title{
    color: green;
}
