.faq-container{
    /* width: 80%;
    margin-left: 10%;
    align-items: center;
    display: flex; */
    background-color: black;
    margin-top: 100px;
}

.accordion{
    width: 80%;
    margin-left: 10%;
    background-color: black;
}

.faq-title{
    color: green;
    margin-left: 20px;
}

.accordion-item, .accordion, .accordion-header , .accordion-button{
    background-color: #28282e;
    color: white;
    
}

.accordion-header{
    background-color: grey;
}